<script src="{{ url_for(__name__ ~ ':statics', path='js/symbols.js') }}"></script>

<label class="form-label">Profit</label>

<div class="{% if error %}{{ error_class }}{% endif %}">
    <input id="profit" name="{{ id }}"
           class="field-string form-control {% if error %}is-invalid{% endif %}"
           value="{{ data or '' }}"
           type="number"
           step="any" />
    {% if help_text %}
        <small class="form-hint">{{ help_text }}</small>
    {% endif %}
</div>
{% include "forms/_error.html" %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    var opening_price = document.getElementById('opening_price');
    var closed_price = document.getElementById('closed_price');
    var profit = document.getElementById('profit');
    var type = document.getElementById("type");
    var amount_order = document.getElementById("amount");
    var checkbox = document.getElementById("is_closed");
    var spread = document.getElementById("spread");
    var spreadValueInitial = parseFloat(spread.value);
    if (isNaN(spreadValueInitial)) {
        spreadValueInitial = 0;
    }
    var initial_checked = checkbox.checked;
    var opening_price_value_initial = parseFloat(opening_price.value);
    var closed_price_value_initial = closed_price.value ? parseFloat(closed_price.value) : null;


    var asset_name = document.getElementById('asset_name');

    function findLotVolume(currencyName) {
        const currency = CURRENCIES_SYMBOLS.find(currency => currency.name === currencyName);
        if (currency) {
            return currency.lotVolume;
        } else {
            return 1; // В случае, если валютная пара не найдена
        }
    }

    var lotVolume = findLotVolume(asset_name.value);

    if (closed_price_value_initial !== null) {
        if (type.value === 'buy') {
            profit.value = (closed_price.value - opening_price.value) * amount_order.value * lotVolume + spreadValueInitial;
        } else {
            profit.value = (opening_price.value - closed_price.value) * amount_order.value * lotVolume + spreadValueInitial;
        }
    }


    function recalculate_spread() {
        // var opening_price_value = opening_price.value ? parseFloat(opening_price.value) : null;
        // var closed_price_value = closed_price.value ? parseFloat(closed_price.value) : null;
        // var profit_value = profit.value ? parseFloat(profit.value) : null;
        // var amount_value = amount_order.value ? parseFloat(amount_order.value) : null;


        if (closed_price_value_initial === null) {
            if (type.value === 'buy') {
                spread.value = profit.value - ((RealTimePrice - opening_price.value) * amount_order.value * lotVolume);
            } else {
                spread.value = profit.value - ((opening_price.value - RealTimePrice) * amount_order.value * lotVolume);
            }
        } else if (closed_price_value_initial !== null) {
            if (type.value === 'buy') {
                spread.value = profit.value - ((closed_price.value - opening_price.value) * amount_order.value * lotVolume);
            } else {
                spread.value = profit.value - ((opening_price.value - closed_price.value) * amount_order.value * lotVolume );
            }
        }
    }

    profit.addEventListener('input', recalculate_spread);


    function recalculate_profit() {
        if (closed_price.value !== null) {
            var spreadValue = parseFloat(spread.value);
            if (isNaN(spreadValue)) {
                spreadValue = 0;
            }
            if (type.value === 'buy') {
                profit.value = (RealTimePrice - opening_price.value) * amount_order.value * lotVolume + spreadValue;
            } else {
                profit.value = (opening_price.value - RealTimePrice) * amount_order.value * lotVolume + spreadValue;
            }
        }
        else {
            var spreadValue = parseFloat(spread.value);
            if (isNaN(spreadValue)) {
                spreadValue = 0;
            }
            if (type.value === 'buy') {
                profit.value = (closed_price.value - opening_price.value) * amount_order.value * lotVolume + spreadValue;
            } else {
                profit.value = (opening_price.value - closed_price.value) * amount_order.value * lotVolume + spreadValue;
            }
        }
    }

    opening_price.addEventListener('input', recalculate_profit);
    closed_price.addEventListener('input', recalculate_profit);
    spread.addEventListener('input', recalculate_profit);
});
</script>