<script src="{{ url_for(__name__ ~ ':statics', path='js/symbols.js') }}"></script>

<label class="form-label">Spread</label>

<div class="{% if error %}{{ error_class }}{% endif %}">
    <input id="spread" name="{{ id }}"
           class="field-string form-control {% if error %}is-invalid{% endif %}"
           value="{{ data or '' }}"
           type="number"
           step="any" />
    {% if help_text %}
        <small class="form-hint">{{ help_text }}</small>
    {% endif %}
</div>
{% include "forms/_error.html" %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    var opening_price = document.getElementById('opening_price');
    var closed_price = document.getElementById('closed_price');
    var spread = document.getElementById('spread');
    var type = document.getElementById("type");
    var amount_order = document.getElementById("amount");
    var checkbox = document.getElementById("is_closed");
    var initial_checked = checkbox.checked;
    var opening_price_value_initial = parseFloat(opening_price.value);
    var closed_price_value_initial = closed_price.value ? parseFloat(closed_price.value) : null;


    var asset_name = document.getElementById('asset_name');

    function findLotVolume(currencyName) {
        const currency = CURRENCIES_SYMBOLS.find(currency => currency.name === currencyName);
        if (currency) {
            return currency.lotVolume;
        } else {
            return 1; // В случае, если валютная пара не найдена
        }
    }

    var lotVolume = findLotVolume(asset_name.value);

    if (closed_price_value_initial !== null) {
        if (type.value === 'buy') {
            spread.value = (closed_price.value - opening_price.value) * amount_order.value * lotVolume;
        } else {
            spread.value = (opening_price.value - closed_price.value) * amount_order.value * lotVolume;
        }
    }


    function recalculate_prices() {
        var opening_price_value = opening_price.value ? parseFloat(opening_price.value) : null;
        var closed_price_value = closed_price.value ? parseFloat(closed_price.value) : null;
        var spread_value = spread.value ? parseFloat(spread.value) : null;
        var amount_value = amount_order.value ? parseFloat(amount_order.value) : null;


        if (spread_value === null) {
            opening_price.value = opening_price_value_initial;
            closed_price.value = closed_price_value_initial;
            checkbox.checked = initial_checked;
        } else if (closed_price_value_initial === null) {
            if (type.value === 'buy') {
                closed_price.value = (spread_value / (amount_value * lotVolume)) + opening_price_value;
                checkbox.checked = true;
            } else {
                closed_price.value = opening_price_value - (spread_value / (amount_value * lotVolume));
                checkbox.checked = true;
            }
        } else if (closed_price_value_initial !== null) {
            if (type.value === 'buy') {
                opening_price.value = closed_price_value - (spread_value / (amount_value * lotVolume));
            } else {
                opening_price.value = (spread_value / (amount_value * lotVolume)) + closed_price_value;
            }
        }
    }

    spread.addEventListener('input', recalculate_prices);


    function recalculate_spread() {
        if (closed_price.value !== null) {
            if (type.value === 'buy') {
                spread.value = (closed_price.value - opening_price.value) * amount_order.value * lotVolume;
            } else {
                spread.value = (opening_price.value - closed_price.value) * amount_order.value * lotVolume;
            }
        }
    }

    opening_price.addEventListener('input', recalculate_spread);
    closed_price.addEventListener('input', recalculate_spread);
});
</script>