<div class="input-group">
  <div id="phone" class="form-control border-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    {% if request.state.user.phones_can_view == True %}
        {{ data }}
    {% endif %}
  </div>
  <div class="input-group-append">
    <a class="btn btn-outline-secondary" href="sip:{{ data }}">
      MicroSip
    </a>
    <a class="btn btn-outline-secondary" href="zoiper:{{ data }}">
      Zoiper
    </a>
    <a class="btn btn-outline-secondary" href="tel:{{ data }}">
      Call
    </a>
    <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#phone">
      Copy
    </button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

<script>
  var clipboard = new ClipboardJS('.btn');
</script>
