<div class="list-group">
    <a href=/admin/trader/detail/{{ obj.id }} class="list-group-item list-group-item-action flex-column align-items-start active">
      <p class="mb-1">{{ obj.name }}  {{ obj.surname }}</p>
    </a>
</div>
    <div class="input-group">
      <div id="autologin_link" class="form-control border-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <a href="{{ obj.autologin_link }}">{{ obj.autologin_link }}</a>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#autologin_link">
          Copy
        </button>
      </div>
    </div>
