{% extends "layout.html" %} {% block header %}
<style>
.censor-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.censor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
    transition: opacity 0.3s;
    pointer-events: all; /* Убедитесь, что на начальном этапе мозаика реагирует на события мыши */
}

.censored-text {
    user-select: text; /* Убедитесь, что текст можно выделить */
    visibility: visible; /* Убедитесь, что текст всегда видим */
}

.censor-container:hover .censor-overlay {
    opacity: 0; /* Сделайте мозаику прозрачной при наведении */
    pointer-events: none; /* События мыши должны проходить сквозь мозаику */
}


</style>
<div class="d-flex justify-content-between align-items-center">
  <h1>{{ model.label }}</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for(__name__ ~ ':index')}}">{{_("Admin")}}</a>
    </li>
    <li class="breadcrumb-item active">{{ model.label }}</li>
  </ol>
</div>
{% endblock %} {% block modal %} {% include "modals/loading.html" %} {% include
"modals/error.html" %} {% include "modals/actions.html" %} {% endblock %} {%
block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div id="btn_container" class="card-title"></div>
          <div class="card-actions">
            <div class="btn-list">
              <div class="dropdown" id="actions-dropdown" style="display: none">
                <button
                  type="button"
                  class="btn dropdown-toggle"
                  data-bs-toggle="dropdown"
                  id="actionDropdownButton"
                >
                  {{_("With selected")}} (<span class="actions-selected-counter">0</span
                  >)
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="actionDropdownButton"
                >
                  {% for action in _actions %}
                  <!-- prettier-ignore -->
                  <a
                    class="dropdown-item action-item"
                    type="button"
                    href="#"
                    id="{{action.id}}"
                    {% if action.confirmation %}
                    data-bs-toggle="modal"
                    data-bs-target="{{action.data_bs_target}}"
                    data-confirmation="{{action.confirmation}}"
                    {% else %}
                    data-no-confirmation-action="true"
                    {%endif%}
                    data-form="{{action.form}}"
                    data-name="{{action.name}}"
                    data-submit-btn-text="{{action.submit_btn_text}}"
                    data-submit-btn-class="{{action.submit_btn_class}}"
                  >
                    {{ action.text }}
                  </a>
                  {% endfor %}
                </div>

                <div class="modal modal-blur fade" id="modal-admin" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div id="actionConfirmation"></div></br>
<!--                              <div id="modal-form"></div>-->
                              Department
                              <select class="form-select" name="department" id="status-department">
                                  <option value="none">no change</option>
                              </select>
                              Desk
                              <select class="form-select" name="desk" id="status-desk">
                                  <option value="none">no changes</option>
                              </select>
                              Responsible
                              <select class="form-select" name="responsible" id="status-responsible">
                                  <option value="none">no change</option>
                              </select>
                              Status
                              <select class="form-select" name="status" id="status-status">
                                  <option value="none">no change</option>
                              </select>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-link link-secondary me-auto"
                                      data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                              <button id="actionSubmit" type="button" class="btn btn-primary"
                                      data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                          </div>
                      </div>
                  </div>
              </div>


                  <div class="modal modal-blur fade" id="modal-department" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div id="actionConfirmationDepartment"></div></br>
                              Desk
                              <select class="form-select" name="desk" id="status-desk-department">
                                  <option value="none">no changes</option>
                              </select>
                              Responsible
                              <select class="form-select" name="responsible" id="status-responsible-department">
                                  <option value="none">no change</option>
                              </select>
                              Status
                              <select class="form-select" name="status" id="status-status-department">
                                  <option value="none">no change</option>
                              </select>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-link link-secondary me-auto"
                                      data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                              <button id="actionSubmitDepartment" type="button" class="btn btn-primary"
                                      data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="modal modal-blur fade" id="modal-desk" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div id="actionConfirmationDesk"></div></br>
                              Responsible
                              <select class="form-select" name="responsible" id="status-responsible-desk">
                                  <option value="none">no change</option>
                              </select>
                              Status
                              <select class="form-select" name="status" id="status-status-desk">
                                  <option value="none">no change</option>
                              </select>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-link link-secondary me-auto"
                                      data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                              <button id="actionSubmitDesk" type="button" class="btn btn-primary"
                                      data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                          </div>
                      </div>
                  </div>
              </div>

                  <div class="modal modal-blur fade" id="modal-action-status" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                              <div id="actionConfirmationStatus"></div></br>
                              Status
                              <select class="form-select" name="status" id="statusesSelect">
                                  <option value="none">no change</option>
                              </select>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-link link-secondary me-auto"
                                      data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                              <button id="actionSubmitStatus" type="button" class="btn btn-primary"
                                      data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                          </div>
                      </div>
                  </div>
              </div>

                  <script>
                      fetch('/admin/api/department?include_relationships=0')
                          .then(response => response.json())
                          .then(data => {
                            const responsibleSelect = document.getElementById('department-filter');
                              const itemsFilter = data.items;

                              if (itemsFilter.length === 0) {
                                  responsibleSelect.style.display = 'none';
                                  return;
                              }

                            itemsFilter.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.name.toUpperCase();
                                responsibleSelect.appendChild(optionElement)
                            })

                                function getQueryParam(param) {
                                    const urlParams = new URLSearchParams(window.location.search);
                                    return urlParams.get(param);
                                }
                                const selectedOption = getQueryParam('department_id');
                                if (selectedOption){
                                    const selectElement = document.getElementById('department-filter');
                                    selectElement.value = selectedOption;
                                }

                            const selectElementModal = document.getElementById('status-department');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElementModal.appendChild(optionElement);
                            });

                          })
                          .catch(error => {
                            console.error('Error:', error);
                          });
                      fetch('/admin/api/desk?include_relationships=0')
                          .then(response => response.json())
                          .then(data => {
                              const responsibleSelect = document.getElementById('desk-filter');
                              const itemsFilter = data.items;

                              if (itemsFilter.length === 0) {
                                  responsibleSelect.style.display = 'none';
                                  return;
                              }

                            itemsFilter.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.name.toUpperCase();
                                responsibleSelect.appendChild(optionElement)
                            })

                              function getQueryParam(param) {
                                    const urlParams = new URLSearchParams(window.location.search);
                                    return urlParams.get(param);
                                }
                                const selectedOption = getQueryParam('desk_id');
                                if (selectedOption){
                                    const selectElement = document.getElementById('desk-filter');
                                    selectElement.value = selectedOption;
                                }

                            const selectElement = document.getElementById('status-desk');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElement.appendChild(optionElement);
                            })
                            const selectElementDepartment = document.getElementById('status-desk-department');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElementDepartment.appendChild(optionElement);
                            });
                          })
                          .catch(error => {
                            console.error('Error:', error);
                          });
                      fetch('/admin/api/employee?include_relationships=0')
                          .then(response => response.json())
                          .then(data => {
                              const responsibleSelect = document.getElementById('responsible-filter');
                              const itemsFilter = data.items;
                            itemsFilter.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.login.toUpperCase();
                                responsibleSelect.appendChild(optionElement)
                            })
                              function getQueryParam(param) {
                                    const urlParams = new URLSearchParams(window.location.search);
                                    return urlParams.get(param);
                                }
                                const selectedOption = getQueryParam('responsible_id');
                                if (selectedOption){
                                    const selectElement = document.getElementById('responsible-filter');
                                    selectElement.value = selectedOption;
                                }
                            const selectElement = document.getElementById('status-responsible');
                            const items = data.items;
                            items.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.login.toUpperCase();
                              selectElement.appendChild(optionElement)
                            })
                            const selectElementDepartment = document.getElementById('status-responsible-department');
                            const itemsDepartment = data.items;
                            itemsDepartment.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.login.toUpperCase();
                              selectElementDepartment.appendChild(optionElement);
                            })
                            const selectElementDesk = document.getElementById('status-responsible-desk');
                            const itemsDesk = data.items;
                            itemsDesk.forEach(item => {
                              const optionElement = document.createElement('option');
                              optionElement.value = item.id;
                              optionElement.textContent = item.login.toUpperCase();
                              selectElementDesk.appendChild(optionElement);
                            })
                            ;
                          })
                          .catch(error => {
                            console.error('Error:', error);
                          });
                      fetch('/admin/api/status?include_relationships=0')
                          .then(response => response.json())
                          .then(data => {
                              const selectElementFilter = document.getElementById('status-filter');
                              data.items.forEach(status => {
                                  const optionElement = document.createElement('option');
                                  optionElement.value = status.id;
                                  optionElement.textContent = status.name.toUpperCase();
                                  selectElementFilter.appendChild(optionElement);
                                })


                              function getQueryParam(param) {
                                    const urlParams = new URLSearchParams(window.location.search);
                                    return urlParams.get(param);
                                }
                                const selectedOption = getQueryParam('status_id');
                                if (selectedOption){
                                    const selectElement = document.getElementById('status-filter');
                                    selectElement.value = selectedOption;
                                }


                            const selectElement = document.getElementById('status-status');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElement.appendChild(optionElement);
                            })
                            const selectElementDepartment = document.getElementById('status-status-department');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElementDepartment.appendChild(optionElement);
                            })
                            const selectElementDesk = document.getElementById('status-status-desk');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectElementDesk.appendChild(optionElement);
                            })

                            const selectStatuses = document.getElementById('statusesSelect');
                            data.items.forEach(status => {
                              const optionElement = document.createElement('option');
                              optionElement.value = status.id;
                              optionElement.textContent = status.name.toUpperCase();
                              selectStatuses.appendChild(optionElement);
                            })
                            ;
                          })
                          .catch(error => {
                            console.error('Error:', error);
                          });
                      fetch('/admin/api/affiliate?include_relationships=0')
                          .then(response => response.json())
                          .then(data => {
                              const selectElementFilter = document.getElementById('affiliate-filter');
                              data.items.forEach(status => {
                                  const optionElement = document.createElement('option');
                                  optionElement.value = status.id;
                                  optionElement.textContent = status.name.toUpperCase();
                                  selectElementFilter.appendChild(optionElement);
                                })

                                function getQueryParam(param) {
                                    const urlParams = new URLSearchParams(window.location.search);
                                    return urlParams.get(param);
                                }
                                const selectedOption = getQueryParam('affiliate_id');
                                if (selectedOption){
                                    const selectElement = document.getElementById('affiliate-filter');
                                    selectElement.value = selectedOption;
                                }


                          })
                          .catch(error => {
                            console.error('Error:', error);
                          });
                  </script>
              </div>
              {%if model.can_create(request)%}
              <a
                href="{{ url_for(__name__ ~ ':create', identity=model.identity)}}"
                class="btn btn-primary btn-block ms-2"
              >
                <i class="fa-solid fa-plus me-2"></i>
                 {{ _("New %(name)s", name=model.name ) }}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body border-bottom p-0">
          <div class="d-flex m-3">
            <div id="pageLength_container">
<!--                  <input type="text" id="statusInput" class="form-control" placeholder="id" style="width: 40px; display: inline-block;">-->
                    <select class="form-select" name="department" id="status-filter" style="width: 80px; display: inline-block;">
                        <option value="none"> all </option>
                  </select>
<!--                  <button class="btn btn-light" onclick="statusFunc()">Status</button>-->
                  <script>
                  function statusFunc() {
                    var url = new URL(window.location.href);

                    var id = document.getElementById('status-filter').value;

                    if (id === 'none') {
                        url.searchParams.delete('status_id');
                    } else {
                        url.searchParams.set('status_id', id);
                    }

                    window.location.href = url.toString();
                  }

                  var selectElement = document.getElementById("status-filter");

                  selectElement.addEventListener("change", function() {
                    statusFunc();
                    // statusFunc();
                });
                  </script>

                <select class="form-select" name="department" id="department-filter" style="width: 80px; display: inline-block;">
                        <option value="none"> all </option>
                  </select>
                  <script>
                  function departmentFunc() {
                    var url = new URL(window.location.href);
                    var id = document.getElementById('department-filter').value;
                        if (id === 'none') {
                        url.searchParams.delete('department_id');
                    } else {
                        url.searchParams.set('department_id', id);
                    }

                    window.location.href = url.toString();
                  }

                  var selectElement = document.getElementById("department-filter");
                  selectElement.addEventListener("change", function() {
                    departmentFunc();
                });
                  </script>

                <select class="form-select" name="department" id="desk-filter" style="width: 80px; display: inline-block;">
                        <option value="none"> all </option>
                  </select>
                  <script>
                  function deskFunc() {
                    var url = new URL(window.location.href);
                    var id = document.getElementById('desk-filter').value;
                        if (id === 'none') {
                        url.searchParams.delete('desk_id');
                    } else {
                        url.searchParams.set('desk_id', id);
                    }

                    window.location.href = url.toString();
                  }

                  var selectElement = document.getElementById("desk-filter");
                  selectElement.addEventListener("change", function() {
                    deskFunc();
                });
                  </script>

                   <select class="form-select" name="department" id="responsible-filter" style="width: 80px; display: inline-block;">
                        <option value="none"> all </option>
                  </select>
                  <script>
                  function responsibleFunc() {
                    var url = new URL(window.location.href);
                    var id = document.getElementById('responsible-filter').value;
                        if (id === 'none') {
                        url.searchParams.delete('responsible_id');
                    } else {
                        url.searchParams.set('responsible_id', id);
                    }

                    window.location.href = url.toString();
                  }

                  var selectElement = document.getElementById("responsible-filter");
                  selectElement.addEventListener("change", function() {
                    responsibleFunc();
                });
                  </script>
                <select class="form-select" name="affiliate" id="affiliate-filter" style="width: 80px; display: inline-block;">
                        <option value="none"> all </option>
                  </select>
                  <script>
                  function affFunc() {
                    var url = new URL(window.location.href);
                    var id = document.getElementById('affiliate-filter').value;
                        if (id === 'none') {
                        url.searchParams.delete('affiliate_id');
                    } else {
                        url.searchParams.set('affiliate_id', id);
                    }

                    window.location.href = url.toString();
                  }

                  var selectElement = document.getElementById("affiliate-filter");
                  selectElement.addEventListener("change", function() {
                    affFunc();
                });
                  </script>
                  <button id="showButton" class="btn btn-light" onclick="showFunc()">Show hidden</button>
                  <button id="hideButton" class="btn btn-light" onclick="hideFunc()">Hide</button>
                  <script>
                  function showFunc() {
                    // Получаем текущий URL-адрес
                    var url = new URL(window.location.href);
                    // Добавляем параметры
                    url.searchParams.set('hide', 'false');
                    // Перенаправляем на обновленный URL-адрес
                    window.location.href = url.toString();
                  }
                  function hideFunc() {
                    // Получаем текущий URL-адрес
                    var url = new URL(window.location.href);
                    // Добавляем параметры
                    url.searchParams.delete('hide');
                    // Перенаправляем на обновленный URL-адрес
                    window.location.href = url.toString();
                  }
                  </script>
                  <script>
                    var urlParams = new URLSearchParams(window.location.search);

                    if (urlParams.get('hide') === 'false') {
                        document.getElementById('hideButton').style.display = 'inline-block';
                        document.getElementById('showButton').style.display = 'none';
                    } else {
                        document.getElementById('hideButton').style.display = 'none';
                        document.getElementById('showButton').style.display = 'inline-block';
                    }
                  </script>
                  <button class="btn btn-light" onclick="clearFunc()">Clear filters</button>
                  <script>
                  function clearFunc() {
                    const currentURL = new URL(window.location.href);
                    currentURL.search = '';
                    window.location.href = currentURL.toString();
                  }
                  </script>
              </div>
            <div class="ms-auto text-muted">
              <div class="ms-2 d-inline-block">
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <circle cx="10" cy="10" r="7" />
                      <line x1="21" y1="21" x2="15" y2="15" />
                    </svg>
                  </span>
                  <input
                    type="search"
                    id="searchInput"
                    value=""
                    class="form-control"
                    placeholder="{{_('Search')}}..."
                    aria-label="Search in list"
                  />
                </div>
              </div>
            </div>
          </div>
          <div id="alertContainer"></div>
        </div>
        <table id="dt" class="table table-vcenter text-nowrap">
          <thead>
            <tr id="table-header">
              <th></th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block head_css %}
<link
  rel="stylesheet"
  href="{{ url_for(__name__ ~ ':statics', path='css/dt.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for(__name__ ~ ':statics', path='css/dt.checkboxes.css') }}"
/>
{%for link in model._additional_css_links(request, "LIST" | ra)%}
<link rel="stylesheet" href="{{ link }}">
{%endfor%}
<style>
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
  }
  table.dataTable span.highlight {
    background-color: #ffff88;
    border-radius: 0.28571429rem;
  }

  table.dataTable span.column_highlight {
    background-color: #ffcc99;
    border-radius: 0.28571429rem;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    background-color: #206bc4;
  }
  table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
</style>
{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/moment.min.js') }}"
></script>
{% if get_locale() != 'en' %}
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='i18n/momentjs/' ~ get_locale() ~ '.js') }}"
></script>
{% endif %}
{% if 'pdf' in model.export_types%}
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/pdfmake.min.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/vfs_fonts.js') }}"
></script>
{% endif %}
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.min.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.checkboxes.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/vendor/dt.searchHighlight.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/utils.js') }}"
></script>
<script>
  var model = {{__js_model__ | tojson | safe}};
</script>
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/render.js') }}"
></script>
{% if custom_render_js(request) %}
<script type="text/javascript" src="{{ custom_render_js(request) }}"></script>
{% endif %}
{%for link in model._additional_js_links(request, "LIST" | ra)%}
<script type="text/javascript" src="{{ link}}"></script>
{%endfor%}
<script
  type="text/javascript"
  src="{{ url_for(__name__ ~ ':statics', path='js/list.js') }}"
></script>
{% endblock %}
