{% extends "layout.html" %}
{% set pk = model.pk_attr %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ model.label }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':list', identity=model.identity) }}">{{ model.label }}</a>
            </li>
            <li class="breadcrumb-item active">{{ _("Detail") }}</li>
        </ol>
    </div>
{% endblock %}
{% block modal %}
    {% include "modals/loading.html" %}
    {% include "modals/error.html" %}
    {% include "modals/delete.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <strong>#{{ obj[pk] }}</strong>
                        </h3>
                        <div class="card-actions">
                            <div class="btn-list">
                                {% if model.can_delete(request) %}
                                    <button id="delete-btn"
                                            type="button"
                                            class="btn btn-danger btn-block"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-delete">
                                        <i class="fas fa-trash-alt me-2"></i>
                                        {{ _("Delete") }}
                                    </button>
                                {% endif %}
                                {% if model.can_edit(request) %}
                                    <a href="{{ url_for(__name__ ~ ':edit', identity=model.identity,pk=obj[pk]) }}">
                                        <button type="button" class="btn btn-primary btn-block me-2">
                                            <i class="fa-solid fa-edit me-2"></i>
                                            {{ _("Edit") }}
                                        </button>
                                    </a>
                                {% endif %}
<!--                                <button id="sendcomments" type="button" class="btn btn-primary btn-block me-2" href="#" data-bs-toggle="modal" data-bs-target="#modal-action" data-confirmation="Enter status id"-->
<!--                                data-form="<div class=&quot;input-group input-group-sm mb-3&quot;>,-->
<!--                            <div class=&quot;input-group-prepend&quot;>-->
<!--                            <span class=&quot;input-group-text&quot; id=&quot;inputGroup-sizing-sm&quot;>id:</span>-->
<!--                            </div>-->
<!--                            <input  name=&quot;id&quot; type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Small&quot; aria-describedby=&quot;inputGroup-sizing-sm&quot;>-->
<!--                            </div>" data-name="change_status" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">-->
<!--                                   <i class="fa-solid fa-edit me-2"></i>-->
<!--                                   Change Status-->
<!--                                </button>-->

<!--                                <button id="sendnote" type="button" class="btn btn-primary btn-block me-2" href="#" data-bs-toggle="modal" data-bs-target="#modal-action" data-confirmation="Enter status id"-->
<!--                                data-form="<div class=&quot;input-group input-group-sm mb-3&quot;>,-->
<!--                            <div class=&quot;input-group-prepend&quot;>-->
<!--                            <span class=&quot;input-group-text&quot; id=&quot;inputGroup-sizing-sm&quot;>id:</span>-->
<!--                            </div>-->
<!--                            <input  name=&quot;id&quot; type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Small&quot; aria-describedby=&quot;inputGroup-sizing-sm&quot;>-->
<!--                            </div>" data-name="change_status" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">-->
<!--                                   <i class="fa-solid fa-edit me-2"></i>-->
<!--                                   Add Note-->
<!--                                </button>-->

                                <button class="btn btn-primary btn-block me-2" type="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-action" data-confirmation="Enter status id" data-form="<div class=&quot;input-group input-group-sm mb-3&quot;>,
                                    <div class=&quot;input-group-prepend&quot;>
                                    <span class=&quot;input-group-text&quot; id=&quot;inputGroup-sizing-sm&quot;>id:</span>
                                    </div>
                                    <input  name=&quot;id&quot; type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Small&quot; aria-describedby=&quot;inputGroup-sizing-sm&quot;>
                                    </div>" data-name="change_status" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">
                                                Change Status
                                </button>

                                <button class="btn btn-primary btn-block me-2" type="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-action-comment" data-confirmation="Enter comment" data-form="<div class=&quot;input-group input-group-sm mb-3&quot;>,
                                    <div class=&quot;input-group-prepend&quot;>
                                    <span class=&quot;input-group-text&quot; id=&quot;inputGroup-sizing-sm&quot;>id:</span>
                                    </div>
                                    <input  name=&quot;id&quot; type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Small&quot; aria-describedby=&quot;inputGroup-sizing-sm&quot;>
                                    </div>" data-name="add_note" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">
                                                Add comment
                                </button>

                                <button id="register_account_button" class="btn btn-primary btn-block me-2" type="button" href="#"
                                        data-name="add_note">
                                                Create trader account
                                </button>
<!--                                <button id="action-btn"-->
<!--                                            type="button"-->
<!--                                            class="btn btn-danger btn-block"-->
<!--                                            data-bs-toggle="modal"-->
<!--                                            data-bs-target="#modal-action">-->
<!--                                        <i class="fas fa-trash-alt me-2"></i>-->
<!--                                        {{ _("Delete") }}-->
<!--                                    </button>-->
<div class="modal modal-blur fade" id="modal-action" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="actionConfirmation"></div></br>
                <div id="modal-form"></div>
                <select class="form-select" name="id" id="status-select">
<!--                                <option value="1">HOT</option>-->
<!--                                <option value="2">START</option>-->
<!--                                <option value="3">F</option>-->
<!--                                <option value="4" name="id">HOT</option>-->
<!--                                <option value="5">HOT</option>-->
        </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                <button id="actionSubmit" type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-action-comment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="actionConfirmationComment"></div></br>
<!--                <div id="modal-form"></div>-->
                    <div class="input-group input-group-sm mb-3">,
                        <div class="input-group-prepend">
                            <span class="input-group-text">Note:</span>
                    </div>
                    <textarea name="note" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                <button id="actionSubmitComment" type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal modal-blur fade" id="modal-action" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-body">-->
<!--                <div id="actionConfirmation"></div></br>-->
<!--                <div id="modal-form"></div>-->
<!--        </select>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-link link-secondary me-auto"-->
<!--                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>-->
<!--                <button id="actionSubmit" type="button" class="btn btn-primary"-->
<!--                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="ms-auto text-muted">
                            <div class="ms-2 d-inline-block">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="10" cy="10" r="7"></circle>
                                            <line x1="21" y1="21" x2="15" y2="15"></line>
                                        </svg>
                                    </span>
                                    <input type="search" id="searchInput" value="" class="form-control" placeholder="{{ _('Search') }}..." aria-label="Search in table">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-vcenter table-mobile-md">
                                <thead>
                                <tr>
                                    <th>{{ _("Attribute") }}</th>
                                    <th>{{ _("Value") }}</th>
                                </tr>
                                </thead>
                                <tbody id="tableContent">



                                {% for field in model._extract_fields('DETAIL') %}
                                    {% if loop.index <= 9 %}
                                        <tr>
                                            <td data-label="Attribute">
                                                <div>
                                                    <strong>{{ field.label }}</strong>
                                                </div>
                                            </td>
                                            <td data-label="Value">
                                                {% with data=obj[field.name] %}
                                                    {% if data == None %}
                                                        {% include "displays/_null.html" %}
                                                    {% elif (data | is_iter) and (data |length) ==0 %}
                                                        {% include "displays/_empty.html" %}
                                                    {% else %}
                                                        {% include field.display_template %}
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}


                                <tr><td colspan="2">&nbsp;</td></tr>
                                <tr><td colspan="2">&nbsp;</td></tr>

                                {% for field in model._extract_fields('DETAIL') %}
                                    {% if loop.index > 9 and loop.index <= 18 %}
                                        <tr>
                                            <td data-label="Attribute">
                                                <div>
                                                    <strong>{{ field.label }}</strong>
                                                </div>
                                            </td>
                                            <td data-label="Value">
                                                {% with data=obj[field.name] %}
                                                    {% if data == None %}
                                                        {% include "displays/_null.html" %}
                                                    {% elif (data | is_iter) and (data |length) ==0 %}
                                                        {% include "displays/_empty.html" %}
                                                    {% else %}
                                                        {% include field.display_template %}
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                <tr><td colspan="2">&nbsp;</td></tr>

                                {% for field in model._extract_fields('DETAIL') %}
                                    {% if loop.index > 18 %}
                                        <tr>
                                            <td data-label="Attribute">
                                                <div>
                                                    <strong>{{ field.label }}</strong>
                                                </div>
                                            </td>
                                            <td data-label="Value">
                                                {% with data=obj[field.name] %}
                                                    {% if data == None %}
                                                        {% include "displays/_null.html" %}
                                                    {% elif (data | is_iter) and (data |length) ==0 %}
                                                        {% include "displays/_empty.html" %}
                                                    {% else %}
                                                        {% include field.display_template %}
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head_css %}
    {% for link in model._additional_css_links(request, "DETAIL" | ra) %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/utils.js') }}"></script>
    {% for link in model._additional_js_links(request, "DETAIL" | ra) %}
        <script type="text/javascript" src="{{ link }}"></script>
    {% endfor %}
    <script>
    $(function () {
        $("#action-btn").click(function () {
            $("#modal-loading").modal('hide');
            $("#modal-action").modal('show');
            fetch("{{ url_for(__name__ ~ ':action', identity=model.identity)  | safe }}?name=change_status&pks={{ obj[pk] }}", {
                method: "POST",
            }).then(async response => {
                if (response.ok) {
                    await new Promise(r => setTimeout(r, 500));
                    $("#modal-loading").modal('hide')
                    window.location.replace("{{ url_for(__name__ ~ ':list', identity=model.identity)  | safe }}")
                } else {
                    if (response.status == 400) {
                        return Promise.reject((await response.json())["msg"]);
                    }
                    return Promise.reject("Something went wrong!");
                }

            }).catch(async (error) => {
                await new Promise(r => setTimeout(r, 500));
                $("#modal-loading").modal('hide');
                $("#error-body").text(error);
                $("#modal-error").modal('show');
            });
        });
    })
    $(function () {
        $("#modal-action1").click(function () {
            $("#modal-action12").modal('hide');
            $("#modal-loading").modal('show');
            fetch("{{ url_for(__name__ ~ ':action', identity=model.identity)  | safe }}?name=delete&pks={{ obj[pk] }}", {
                method: "POST",
            }).then(async response => {
                if (response.ok) {
                    await new Promise(r => setTimeout(r, 500));
                    $("#modal-loading").modal('hide')
                    window.location.replace("{{ url_for(__name__ ~ ':list', identity=model.identity)  | safe }}")
                } else {
                    if (response.status == 400) {
                        return Promise.reject((await response.json())["msg"]);
                    }
                    return Promise.reject("Something went wrong!");
                }

            }).catch(async (error) => {
                await new Promise(r => setTimeout(r, 500));
                $("#modal-loading").modal('hide');
                $("#error-body").text(error);
                $("#modal-error").modal('show');
            });
        });
    })
  function submitAction(name, formData) {
    $("#modal-loading").modal("show");
    query = new URLSearchParams();
      query.append("pks", {{ obj[pk] }});
    query.append("name", name);

    $('#modal-action :input').each(function() {
        query.append(this.name, $(this).val());
    });

        const url = window.location.origin + "/admin/api/client/action?" + query.toString();
        fetch(url, {
            method: "POST",
            body: formData,
        })
      .then(async (response) => {
          location.reload();
        await new Promise((r) => setTimeout(r, 500));
        $("#modal-loading").modal("hide");
        if (response.ok) {
          table.rows().deselect();
          table.ajax.reload();
          successAlert((await response.json())["msg"]);
        } else {
          if (response.status == 400) {
            return Promise.reject((await response.json())["msg"]);
          }
          return Promise.reject("Something went wrong!");
        }
      })
      .catch(async (error) => {
        await new Promise((r) => setTimeout(r, 500));
        dangerAlert(error);
      });
  }
     $("#modal-action").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var confirmation = button.data("confirmation");
    var form = button.data("form");
    var name = button.data("name");
    var submit_btn_text = button.data("submit-btn-text");
    var submit_btn_class = button.data("submit-btn-class");

    var modal = $(this);
    modal.find("#actionConfirmation").text(confirmation);
    var modalForm = modal.find("#modal-form");
    $('#modal-form').html(form);
    var actionSubmit = modal.find("#actionSubmit");
    actionSubmit.text(submit_btn_text);
    actionSubmit.removeClass().addClass(`btn ${submit_btn_class}`);
    actionSubmit.unbind();
    actionSubmit.on("click", function (event) {
      const formElement = modalForm.find("form");
      const formData = formElement.length
        ? new FormData(formElement.get(0))
        : new FormData();
      submitAction(name, formData);
    });
  });
    fetch('/api/v1/client/statuses')
  .then(response => response.json())
  .then(data => {
    const selectElement = document.getElementById('status-select');

    data.forEach(status => {
      const optionElement = document.createElement('option');
      optionElement.value = status.id;
      optionElement.textContent = status.name.toUpperCase();

      selectElement.appendChild(optionElement);
    });
  })
  .catch(error => {
    console.error('Error:', error);
  });
    function submitActionComment(name, formData) {
    $("#modal-loading").modal("show");
    query = new URLSearchParams();
      query.append("pks", {{ obj[pk] }});
    query.append("name", name);

    $('#modal-action-comment :input').each(function() {
        query.append(this.name, $(this).val());
    });

        const url = window.location.origin + "/admin/api/client/action?" + query.toString();
        fetch(url, {
            method: "POST",
            body: formData,
        })
      .then(async (response) => {
          location.reload();
        await new Promise((r) => setTimeout(r, 500));
        $("#modal-loading").modal("hide");
        if (response.ok) {
          table.rows().deselect();
          table.ajax.reload();
          successAlert((await response.json())["msg"]);
        } else {
          if (response.status == 400) {
            return Promise.reject((await response.json())["msg"]);
          }
          return Promise.reject("Something went wrong!");
        }
      })
      .catch(async (error) => {
        await new Promise((r) => setTimeout(r, 500));
        dangerAlert(error);
      });
  }
     $("#modal-action-comment").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var confirmation = button.data("confirmation");
        var form = button.data("form");
        var name = button.data("name");
        var submit_btn_text = button.data("submit-btn-text");
        var submit_btn_class = button.data("submit-btn-class");

        var modal = $(this);
        modal.find("#actionConfirmation").text(confirmation);
        var modalForm = modal.find("#modal-form");
        $('#modal-form').html(form);
        var actionSubmit = modal.find("#actionSubmitComment");
        actionSubmit.text(submit_btn_text);
        actionSubmit.removeClass().addClass(`btn ${submit_btn_class}`);
        actionSubmit.unbind();
        actionSubmit.on("click", function (event) {
          const formElement = modalForm.find("form");
          const formData = formElement.length
            ? new FormData(formElement.get(0))
            : new FormData();
          console.log(formData);
          submitActionComment(name, formData);
        });
  });
     $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tableContent tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
    });
    document.getElementById("register_account_button").addEventListener("click", function() {
        query = new URLSearchParams();
        query.append("pks", {{ obj[pk] }});
        query.append("name", "create_trader_account");

        var register_action_url = window.location.origin + "/admin/api/client/action?" + query.toString();
        fetch(register_action_url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(async (response) => {
            // Обработка ответа
            // successAlert((response.json()));
            if (response.ok) {
                console.log('Account registered successfully');
            } else {
                console.error('Failed to register');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    </script>
{% endblock %}
