{% extends "layout.html" %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ model.label }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':list', identity=model.identity) }}">{{ model.label }}</a>
            </li>
            <li class="breadcrumb-item active">{{ _("Edit") }}</li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form action="{{ request.url | safe }}"
                          method="POST"
                          enctype="multipart/form-data">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="card-title">{{ _("Edit %(name)s", name=model.name ) }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-bottom py-3">
                            {% for field in model._extract_fields('EDIT') %}
                                <div class="mb-3">
                                    {% with action='EDIT',data=obj[field.name], error=errors.get(field.name, None) if errors else None %}
                                        {% include field.label_template %}
                                        {% include field.form_template %}
                                    {% endwith %}
                                </div>
                                {% if field.name == 'closed_price' %}
                                    <div class="mb-3">
                                        {% include "forms/profit.html" %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer text-black">
                            <div class="btn-list ms-auto justify-content-end">
                                <a href="{{ url_for(__name__ ~ ':list', identity=model.identity) }}"
                                   class="btn btn-danger">{{ _("Cancel") }}</a>
                                <button type="submit" name="_add_another"
                                        class="btn">{{ _("Save and add
                                    another") }}</button>
                                <button type="submit" name="_continue_editing"
                                        class="btn">{{ _("Save and continue editing") }}</button>
                                <button type="submit" class="btn btn-success">{{ _("Save") }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head_css %}
    {% for link in model._additional_css_links(request, "EDIT" | ra) %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
    <style>
        .is-invalid .select2-selection {
            border-color: #d63939 !important;
        }
    </style>
{% endblock %}
{% block script %}
    {% for link in model._additional_js_links(request, "EDIT" | ra) %}
        <script type="text/javascript" src="{{ link }}"></script>
    {% endfor %}
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/form.js') }}"></script>
    <script>
        function findLotVolume(currencyName) {
            const currency = CURRENCIES_SYMBOLS.find(currency => currency.name === currencyName);
            if (currency) {
                return currency.lotVolume;
            } else {
                return 1; // В случае, если валютная пара не найдена
            }
        }

        const lotVolume = findLotVolume("{{ obj.asset_name }}");
        const closedPrice = parseFloat("{{ obj.closed_price }}");
        const openingPrice = parseFloat("{{ obj.opening_price }}");
        const amount = parseFloat("{{ obj.amount }}");

        var profit_input = document.getElementById('profit');
        var spread_input = document.getElementById('spread');

        if ("{{obj.is_closed}}" === "True") {
            if ("{{obj.type}}" === 'buy') {
                profit = (closedPrice - openingPrice) * amount * lotVolume;
            }
            else {
                profit = (openingPrice - closedPrice) * amount * lotVolume;
            }
            profit = profit.toFixed(4);

            attributeCells.forEach(function(cell) {
                if (cell.textContent.trim() === "Profit") {
                    var valueCell = cell.nextElementSibling;
                    valueCell.innerHTML = '<span class="Value">' + profit + '</span>';
                }
            });
        }

        var RealTimePrice;

        function connectWebSocket() {
            const baseUrl = "{{ pt_utl }}";
            const socket = new WebSocket(`wss://${baseUrl}:8443/socket.io/?EIO=3&transport=websocket`);

            socket.onopen = function(event) {
                console.log('WebSocket connected');
            };

            socket.onmessage = function(event) {
                var data = event.data;
                var messageWithoutPrefix = data.slice(2);
                var parsedMessage = JSON.parse(messageWithoutPrefix);
                var message = parsedMessage[1];

                if ("{{obj.is_closed}}" === "False" && "{{obj.asset_name}}" === message.name){
                    RealTimePrice = message.price;
                    if ("{{obj.type}}" === 'buy') {
                        profit = (message.price - openingPrice) * amount * lotVolume;
                    }
                    else {
                        profit = (openingPrice - message.price) * amount * lotVolume;
                    }
                    profit = profit.toFixed(4);

                    var spread = parseFloat(spread_input.value);
                    if (isNaN(spread)) {
                        spread = 0;
                    }
                    var profitValue = parseFloat(profit);
                    profit_input.value = profitValue + spread;
                }
            };

            socket.onclose = function(event) {
                console.log('WebSocket disconnected');
            };
        }

        window.onload = function() {
            if ("{{ pt_is_on }}" === "True" && "{{ obj.is_closed }}" !== "True") {
                connectWebSocket();
            }
        };
    </script>
{% endblock %}
