{% extends "layout.html" %}
{% set pk = model.pk_attr %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ model.label }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':list', identity=model.identity) }}">{{ model.label }}</a>
            </li>
            <li class="breadcrumb-item active">{{ _("Detail") }}</li>
        </ol>
    </div>
{% endblock %}
{% block modal %}
    {% include "modals/loading.html" %}
    {% include "modals/error.html" %}
    {% include "modals/delete.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <strong>#{{ obj[pk] }}</strong>
                        </h3>
                        <div class="card-actions">
                            <div class="btn-list">
                                {% if model.can_delete(request) %}
                                    <button id="delete-btn"
                                            type="button"
                                            class="btn btn-danger btn-block"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-delete">
                                        <i class="fas fa-trash-alt me-2"></i>
                                        {{ _("Delete") }}
                                    </button>
                                {% endif %}
                                {% if model.can_edit(request) %}
                                    <a href="{{ url_for(__name__ ~ ':edit', identity=model.identity,pk=obj[pk]) }}">
                                        <button type="button" class="btn btn-primary btn-block me-2">
                                            <i class="fa-solid fa-edit me-2"></i>
                                            {{ _("Edit") }}
                                        </button>
                                    </a>
                                {% endif %}

                                <button class="btn btn-primary btn-block me-2" type="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-action" data-confirmation="Enter status id" data-form="" data-name="change_status" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">
                                                Change Status
                                </button>


                                <div class="modal modal-blur fade" id="modal-action" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div id="actionConfirmationStatus"></div></br>
                                                <div id="modal-form-status"></div>
                                                <select class="form-select" name="id" id="status-select">
                                        </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link link-secondary me-auto"
                                                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                                                <button id="actionSubmit" type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

                                <script>
                                    function submitAction(name, formData) {
                                        $("#modal-loading").modal("show");
                                        query = new URLSearchParams();
                                          query.append("pks", "{{ obj[pk] }}");
                                        query.append("name", name);

                                        $('#modal-action :input').each(function() {
                                            query.append(this.name, $(this).val());
                                        });

                                            const url = window.location.origin + "/admin/api/trader/action?" + query.toString();
                                            fetch(url, {
                                                method: "POST",
                                                body: formData,
                                            })
                                          .then(async (response) => {
                                              location.reload();
                                            await new Promise((r) => setTimeout(r, 500));
                                            $("#modal-loading").modal("hide");
                                            if (response.ok) {
                                              successAlert((await response.json())["msg"]);
                                            } else {
                                              if (response.status == 400) {
                                                return Promise.reject((await response.json())["msg"]);
                                              }
                                              return Promise.reject("Something went wrong!");
                                            }
                                          })
                                          .catch(async (error) => {
                                            await new Promise((r) => setTimeout(r, 500));
                                            dangerAlert(error);
                                          });
                                      }

                                    $(document).ready(function(){
                                    $("#modal-action").on("show.bs.modal", function (event) {
                                        console.log('shown');
                                                                                var button = $(event.relatedTarget); // Button that triggered the modal
                                        var confirmation = button.data("confirmation");
                                        var form = button.data("form");
                                        var name = button.data("name");
                                        var submit_btn_text = button.data("submit-btn-text");
                                        var submit_btn_class = button.data("submit-btn-class");

                                        var modal = $(this);
                                        modal.find("#actionConfirmation").text(confirmation);
                                        var modalForm = modal.find("#modal-form");
                                        $('#modal-form').html(form);
                                        var actionSubmit = modal.find("#actionSubmit");
                                        actionSubmit.text(submit_btn_text);
                                        actionSubmit.removeClass().addClass(`btn ${submit_btn_class}`);
                                        actionSubmit.unbind();
                                        actionSubmit.on("click", function (event) {
                                          const formElement = modalForm.find("form");
                                          const formData = formElement.length
                                            ? new FormData(formElement.get(0))
                                            : new FormData();
                                          submitAction(name, formData);
                                        });
                                      });
                                    });

                                  fetch('/admin/api/retain-status?skip=0&limit=100&order_by=id%20asc&include_relationships=0')
                                  .then(response => response.json())
                                  .then(data => {
                                    const selectElement = document.getElementById('status-select');

                                    data.items.forEach(item  => {
                                      const optionElement = document.createElement('option');
                                      optionElement.value = item.id;
                                      optionElement.textContent = item.name;
                                      selectElement.appendChild(optionElement);
                                    });
                                  })
                                  .catch(error => {
                                    console.error('Error:', error);
                                  });
                                </script>

                                <button class="btn btn-primary btn-block me-2" type="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-action-comment" data-confirmation="Enter comment" data-form="<div class=&quot;input-group input-group-sm mb-3&quot;>,
                                    <div class=&quot;input-group-prepend&quot;>
                                    <span class=&quot;input-group-text&quot; id=&quot;inputGroup-sizing-sm&quot;>id:</span>
                                    </div>
                                    <input  name=&quot;id&quot; type=&quot;text&quot; class=&quot;form-control&quot; aria-label=&quot;Small&quot; aria-describedby=&quot;inputGroup-sizing-sm&quot;>
                                    </div>" data-name="add_note" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">
                                                Add comment
                                </button>

                                <button class="btn btn-primary btn-block me-2" type="button" href="#" data-bs-toggle="modal" data-bs-target="#modal-action-deposit" data-confirmation="Enter comment" data-name="create_deposit" data-submit-btn-text="Yes, proceed" data-submit-btn-class="btn-success">
                                                Create deposit
                                </button>

                                {% for field in model._extract_fields('DETAIL') %}
                                        <td data-label="Value">
                                            {% with data=obj[field.name] %}
                                            {% if field.name == "autologin_link" %}
                                                <a href="{{ data }}" target="_blank">
                                                <button type="button" class="btn btn-primary btn-block me-2">
                                                    <i class="fa-solid fa-key"></i>
                                                    Login in
                                                </button>
                                                </a>
                                                {% endif %}
                                            {% endwith %}
                                {% endfor %}

                                <div class="modal modal-blur fade" id="modal-action-comment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="actionConfirmationComment"></div></br>
<!--                <div id="modal-form"></div>-->
                    <div class="input-group input-group-sm mb-3">,
                        <div class="input-group-prepend">
                            <span class="input-group-text">Note:</span>
                    </div>
                    <textarea name="note" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                <button id="actionSubmitComment" type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
            </div>
        </div>
    </div>
</div>

                                <div class="modal modal-blur fade" id="modal-action-deposit" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div id="actionConfirmation">Enter the password you want to set</div><br>
                                                <div id="modal-form">
                                            <div class="input-group input-group-sm mb-3">,
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Value($):</span>
                                                </div>
                                            <input name="value" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                            </div>

                                            <div class="form-group">
                                                <label for="selectOption">Select Option:</label>
                                                <select class="form-control" id="selectOption" name="selectOption">
                                                    <option value="deposit">Deposit</option>
                                                    <option value="credFacilities">Credit Facilities</option>
                                                    <option value="bonuses">Bonuses</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description:</label>
                                                <input type="text" class="form-control" id="description" name="description">
                                            </div>
                                            </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link link-secondary me-auto"
                                                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                                                <button id="actionSubmitDeposit" type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="ms-auto text-muted">
                            <div class="ms-2 d-inline-block">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <circle cx="10" cy="10" r="7"></circle>
                                            <line x1="21" y1="21" x2="15" y2="15"></line>
                                        </svg>
                                    </span>
                                    <input type="search" id="searchInput" value="" class="form-control" placeholder="{{ _('Search') }}..." aria-label="Search in table">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-vcenter table-mobile-md">
                                <thead>
                                <tr>
                                    <th>{{ _("Attribute") }}</th>
                                    <th>{{ _("Value") }}</th>
                                </tr>
                                </thead>
                                <tbody id="tableContent">
                                {% for field in model._extract_fields('DETAIL') %}
                                    <tr>
                                        <td data-label="Attribute">
                                            <div>
                                                <strong>{{ field.label }}</strong>
                                            </div>
                                        </td>
                                        <td data-label="Value">
                                            {% with data=obj[field.name] %}
                                                {% if data == None %}
                                                    {% include "displays/_null.html" %}
                                                {% elif (data | is_iter) and (data |length) ==0 %}
                                                    {% include "displays/_empty.html" %}
                                                {% else %}
                                                    {% include field.display_template %}
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head_css %}
    {% for link in model._additional_css_links(request, "DETAIL" | ra) %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/utils.js') }}"></script>
    {% for link in model._additional_js_links(request, "DETAIL" | ra) %}
        <script type="text/javascript" src="{{ link }}"></script>
    {% endfor %}
    <script>
    $(function () {
        $("#modal-delete-btn").click(function () {
            $("#modal-delete").modal('hide');
            $("#modal-loading").modal('show');
            fetch("{{ url_for(__name__ ~ ':action', identity=model.identity)  | safe }}?name=delete&pks={{ obj[pk] }}", {
                method: "POST",
            }).then(async response => {
                if (response.ok) {
                    await new Promise(r => setTimeout(r, 500));
                    $("#modal-loading").modal('hide')
                    window.location.replace("{{ url_for(__name__ ~ ':list', identity=model.identity)  | safe }}")
                } else {
                    if (response.status == 400) {
                        return Promise.reject((await response.json())["msg"]);
                    }
                    return Promise.reject("Something went wrong!");
                }

            }).catch(async (error) => {
                await new Promise(r => setTimeout(r, 500));
                $("#modal-loading").modal('hide');
                $("#error-body").text(error);
                $("#modal-error").modal('show');
            });
        });
    })

    function submitActionComment(name, formData) {
    $("#modal-loading").modal("show");
    query = new URLSearchParams();
      query.append("pks", "{{ obj[pk] }}");
    query.append("name", name);

    $('#modal-action-comment :input').each(function() {
        query.append(this.name, $(this).val());
    });

        const url = window.location.origin + "/admin/api/trader/action?" + query.toString();
        fetch(url, {
            method: "POST",
            body: formData,
        })
      .then(async (response) => {
          location.reload();
        await new Promise((r) => setTimeout(r, 500));
        $("#modal-loading").modal("hide");
        if (response.ok) {
          table.rows().deselect();
          table.ajax.reload();
          successAlert((await response.json())["msg"]);
        } else {
          if (response.status == 400) {
            return Promise.reject((await response.json())["msg"]);
          }
          return Promise.reject("Something went wrong!");
        }
      })
      .catch(async (error) => {
        await new Promise((r) => setTimeout(r, 500));
        dangerAlert(error);
      });
  }

    $("#modal-action-comment").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var confirmation = button.data("confirmation");
        var form = button.data("form");
        var name = button.data("name");
        var submit_btn_text = button.data("submit-btn-text");
        var submit_btn_class = button.data("submit-btn-class");

        var modal = $(this);
        modal.find("#actionConfirmation").text(confirmation);
        var modalForm = modal.find("#modal-form");
        $('#modal-form').html(form);
        var actionSubmit = modal.find("#actionSubmitComment");
        actionSubmit.text(submit_btn_text);
        actionSubmit.removeClass().addClass(`btn ${submit_btn_class}`);
        actionSubmit.unbind();
        actionSubmit.on("click", function (event) {
          const formElement = modalForm.find("form");
          const formData = formElement.length
            ? new FormData(formElement.get(0))
            : new FormData();
          console.log(formData);
          submitActionComment(name, formData);
        });
  });

        function submitActionDeposit(name, formData) {
            $("#modal-loading").modal("show");
            query = new URLSearchParams();
              query.append("pks", "{{ obj[pk] }}");
            query.append("name", name);
            console.log(name);

            $('#modal-action-deposit :input').each(function() {
                query.append(this.name, $(this).val());
                console.log(this.name, $(this).val());
            });
            console.log(query);

                const url = window.location.origin + "/admin/api/trader/action?" + query.toString();
                fetch(url, {
                    method: "POST",
                    body: formData,
                })
              .then(async (response) => {
                  location.reload();
                await new Promise((r) => setTimeout(r, 500));
                $("#modal-loading").modal("hide");
                if (response.ok) {
                  table.rows().deselect();
                  table.ajax.reload();
                  successAlert((await response.json())["msg"]);
                } else {
                  if (response.status == 400) {
                    return Promise.reject((await response.json())["msg"]);
                  }
                  return Promise.reject("Something went wrong!");
                }
              })
              .catch(async (error) => {
                await new Promise((r) => setTimeout(r, 500));
                dangerAlert(error);
              });
          }

        $("#modal-action-deposit").on("show.bs.modal", function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var confirmation = button.data("confirmation");
        var form = button.data("form");
        var name = button.data("name");
        var submit_btn_text = button.data("submit-btn-text");
        var submit_btn_class = button.data("submit-btn-class");

        var modal = $(this);
        modal.find("#actionConfirmation").text(confirmation);
        var modalForm = modal.find("#modal-form");
        $('#modal-form').html(form);
        var actionSubmit = modal.find("#actionSubmitDeposit");
        actionSubmit.text(submit_btn_text);
        actionSubmit.removeClass().addClass(`btn ${submit_btn_class}`);
        actionSubmit.unbind();
        actionSubmit.on("click", function (event) {
          const formElement = modalForm.find("form");
          const formData = formElement.length
            ? new FormData(formElement.get(0))
            : new FormData();
          console.log(formData);
          submitActionDeposit(name, formData);
        });
  });

    $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
            console.log('test');
          var value = $(this).val().toLowerCase();
          $("#tableContent tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
    });
    </script>
{% endblock %}
